<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 footer-section d-flex flex-column align-items-center">
        <img src="https://www.upload.ee/image/18331315/yenilogo_05032018095240.jpg" alt="Logo" class="footer-logo" />
        <p>Serdar, Selahattin Eyyubi Cd. No:1, 41190 Başiskele/Kocaeli</p>
        <p>Tel: 444 4110</p>
        <p>Email: info@basiskele.bel.tr</p>
        <p>Çalışma Saatleri: Hafta içi 08:30 - 17:30</p>
      </div>
      <div class="col-md-4 footer-section">
        <h5>Hızlı Bağlantılar</h5>
        <ul>
          <li><a href="index.html">Anasayfa</a></li>
          <li><a href="ilanlar.html">İlanlar</a></li>
          <li><a href="ilan-ver.html">İlan Ver</a></li>
          <li><a href="mesajlar.html">Mesajlar</a></li>
          <li><a href="iletisim.html">İletişim</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-section">
        <h5>Sosyal Medya</h5>
        <div class="social-media-links">
          <a href="https://facebook.com/basiskelebel" target="_blank" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/basiskelebel" target="_blank" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com/basiskelebel" target="_blank" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCr1J_fTkKbxhUEVGrK9FpVA" target="_blank" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center mt-3">
      <p class="mb-0">© 2025 Başiskele Belediyesi Kariyer Platformu</p>
    </div>
  </div>
</footer>